{% extends 'base.html' %}

{% block content %}
  <br><br>
  {% for choice in choices %}
    <a href="{{ choice.link }}">{{ choice.title }}</a>
  {% endfor %}

  <table>
    <tr>
      <th colspan="8">Клей</th>
    </tr>
    <tr>
      <th rowspan="2">наименование</th>
      <th colspan="3">опт</th>
      <th colspan="4">розница</th>
    </tr>
    <tr>
      <th>штук</th>
      <th>сумма</th>
      <th>прибыль</th>
      <th>штук</th>
      <th>сумма</th>
      <th>прибыль</th>
      <th>продаж</th>
    </tr>
    {% for glue in glues %}
      <tr align="right">
        <td align="left">{{ glue.warehouse_str }}</td>
        <td>{{ glue.count_of_sales_w }}</td>
        <td>
          {% if glue.sum_w %}
            {{ glue.sum_w }}&#x20bd
          {% endif %}
        </td>
        <td>
          {% if glue.profit_w %}
            {{ glue.profit_w }}&#x20bd
          {% endif %}
        </td>
        <td>{{ glue.count_of_sales }}</td>
        <td>
          {% if glue.sum %}
            {{ glue.sum }}&#x20bd
          {% endif %}
        </td>
        <td>
          {% if glue.profit %}
            {{ glue.profit }}&#x20bd
          {% endif %}
        </td>
        <td>{{ glue.number_of_sales }}</td>
      </tr>
    {% endfor %}
    <tr align="right" style="font-weight: 700;">
      <td align="left">Итого</td>
      <td>{{ glues_total_count_of_sales_w }}</td>
      <td>{{ glues_total_sum_w }}&#x20bd</td>
      <td>{{ glues_total_profit_w }}&#x20bd</td>
      <td>{{ glues_total_count_of_sales }}</td>
      <td>{{ glues_total_sum }}&#x20bd</td>
      <td>{{ glues_total_profit }}&#x20bd</td>
      <td>{{ glues_total_number_of_sales }}</td>
    </tr>
  </table>

  <table>
    <tr>
      <th colspan="7">Фотообои</th>
    </tr>
    <tr>
      <th rowspan="2">наименование</th>
      <th colspan="3">опт</th>
      <th colspan="3">розница</th>
    </tr>
    <tr>
      <th>штук</th>
      <th>сумма</th>
      <th>прибыль</th>
      <th>штук</th>
      <th>сумма</th>
      <th>прибыль</th>
    </tr>
    {% for photowp in photowps %}
      <tr align="right">
        <td align="left">{{ photowp.get_for_selling }}</td>
        <td>{{ photowp.count_of_sales_w }}</td>
        <td>
          {% if photowp.sum_w %}
            {{ photowp.sum_w }}&#x20bd
          {% endif %}
        </td>
        <td>
          {% if photowp.profit_w %}
            {{ photowp.profit_w }}&#x20bd
          {% endif %}
        </td>
        <td>{{ photowp.count_of_sales }}</td>
        <td>
          {% if photowp.sum %}
            {{ photowp.sum }}&#x20bd
          {% endif %}
        </td>
        <td>
          {% if photowp.profit %}
            {{ photowp.profit }}&#x20bd
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    <tr align="right" style="font-weight:700;">
      <td align="left">Итого</td>
      <td>{{ photowps_total_count_of_sales_w }}</td>
      <td>{{ photowps_total_sum_w }}&#x20bd</td>
      <td>{{ photowps_total_profit_w }}&#x20bd</td>
      <td>{{ photowps_total_count_of_sales }}</td>
      <td>{{ photowps_total_sum }}&#x20bd</td>
      <td>{{ photowps_total_profit }}&#x20bd</td>
    </tr>
  </table>

  <table>
    <tr>
      <th colspan="7">Обои</th>
    </tr>
    <tr>
      <th rowspan="2">наименование</th>
      <th colspan="4">розница</th>
    </tr>
    <tr>
      <th>штук</th>
      <th>сумма</th>
      <th>прибыль</th>
      <th>продаж</th>
    </tr>
    {% for wp in wps %}
      <tr align="right">
        <td align="left">{{ wp.vendor_code }} [{{ wp.the_consignment }}]</td>
        <td>{{ wp.count_of_sales }}</td>
        <td>
          {% if wp.sum %}
            {{ wp.sum }}&#x20bd
          {% endif %}
        </td>
        <td>
          {% if wp.profit %}
            {{ wp.profit }}&#x20bd
          {% endif %}
        </td>
        <td>{{ wp.number_of_sales }}</td>
      </tr>
    {% endfor %}
    <tr align="right" style="font-weight: 700;">
      <td></td>
      <td>{{ wps_total_count_of_sales }}</td>
      <td>{{ wps_total_sum }}&#x20bd</td>
      <td>{{ wps_total_profit }}&#x20bd</td>
      <td>{{ wps_total_number_of_sales }}</td>
    </tr>
  </table>

  <p>Клиентов за месяц: {{ byers }}</p>
  <p>Выручка за месяц: {{ total_sum }}&#x20bd</p>
  <p>Прибыль за месяц: {{ profit_sum }}&#x20bd</p>
{% endblock %}
