{% extends 'base.html' %}

{% block content %}
  <br>
  <h1>{{ selling }}</h1>
  <table>
    <tr>
      <th>Наименование</th>
      <th>Кол-во</th>
      <th>Цена</th>
      <th>Сумма</th>
    </tr>
    {% for object in object_list %}
      <tr align="right">
        <td align="left">{{ object.get_item.get_for_selling }}</td>
        <td>{{ object.count }}</td>
        <td>{{ object.price }}&#x20bd</td>
        <td>{{ object.get_sum }}&#x20bd</td>
      </tr>
    {% endfor %}
    <tr>
      <td colspan="3"><strong>Общая сумма</strong></td>
      <td>{{ selling.get_sum }}&#x20bd</td>
    </tr>
  </table>


{% endblock %}
