{% extends 'base.html' %}

{% block content %}
  <br>
  <h1>{{ selling }}</h1>
  <table>
    <tr>
      <th>Наименование</th>
      <th>Цена</th>
      <th>Кол-во</th>
      <th>Сумма</th>
    </tr>
    {% for object in object_list %}
      <tr>
        <td>{{ object.get_item.get_for_selling }}</td>
        <td>{{ object.price }}</td>
        <td>{{ object.count }}</td>
        <td>{{ object.item_sum }}</td>
      </tr>
    {% endfor %}
    <tr>
      <td colspan="3"><strong>Общая сумма</strong></td>
      <td>{{ selling.total_sum }}</td>
    </tr>
  </table>


{% endblock %}
