<style>
    * {
        font-size: 14px;
        font-family: monospace;
    }

    table {
        border-collapse: collapse;
    }

    th, td {
        padding: 2px;
        border: 1px solid #000;
    }

    @media print {
        a, br {
            display: none;
        }

        body {
            margin: 0;
        }
    }
</style>

<a href="{% url 'index' %}">главная</a>
<a href="{% url 'remnants_of_goods' %}">обои</a>
<a href="{% url 'photowp:remnants_of_photo' %}">фотообои</a>

{% block content %}{% endblock %}
