{% extends 'base.html' %}

{% block content %}
  <br><br>
  <table>
    <tr>
      <th>Наименование</th>
      <th>Кол-во</th>
      <th>Цена</th>
      <th>Сумма</th>
    </tr>
    {% for object in object_list %}
      <tr align="right">
        <td align="left">{{ object.get_item.get_for_selling }}</td>
        <td>{{ object.count }}</td>
        <td>{{ object.price }}&#x20bd</td>
        <td>{{ object.item_sum }}&#x20bd</td>
        <td>{{ object.selling_order.buyer }}</td>
        <td>{% if object.selling_order.date_paid %}&#x2713;{% endif %}</td>
      </tr>
    {% endfor %}
    <tr style="font-weight: 700;">
      <td colspan="3">Общая сумма</td>
      <td>{{ total_sum }}&#x20bd</td>
    </tr>
  </table>
{% endblock %}
