<style>
    * {
        font-size: 14px;
        font-family: monospace;
    }
    th, td {
        padding: 2px;
    }
</style>

<table border="1" cellspacing="0">
    <tr>
        <th>#</th>
        <th>Артикул</th>
        <th>Партия</th>
        <th>Рулонов</th>
        <th>Стеллаж</th>
    </tr>
    {% for object in object_list %}
        <tr>
            <td align="center">{{ forloop.counter }}</td>
            <td>{{ object.vendor_code }}</td>
            <td>{{ object.the_consignment }}</td>
            <td align="right">{{ object.count }}</td>
            <td align="right">{% if object.stillage %}{{ object.stillage }}/{{ object.cell }}{% endif %}</td>
        </tr>
    {% endfor %}
</table>
